*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Inria Sans';
    src: url(../fuentes/Inria_Sans/InriaSans-Regular.ttf);
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inria Sans';
    font-size: 25px;
    background-color: #52733B;
}
body{
    background-image: url(../assets/img/TC7R6GVLLVEY3K6HZ6PSAQVCXU.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}
.img{
    padding: 1%
}
nav{
    width: 100%;
    background-color: #84A45A;
    height: 40px;
    font-family: 'Inria Sans';
    font-size: 18px;
}
li{
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    transition: 1s;
}
a{
    font-family: 'Inria Sans';
    text-decoration: none;
    color: black;
}
ul{
    padding-top: 0.6%;
}
nav ul li:hover{
    transform: scale(1.3, 1.3);
    background-color: #4b733b;
}
#grid{
    align-items: center;
    display: grid;
    justify-items: center;
    height: 3500px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'foto1 foto2 foto3'
    'foto4 foto5 foto6'
    'foto7 foto8 foto9'
    'foto10 foto11 foto12'
    'foto13 foto14 foto15';
}
.container1{
    position: relative;
    width: 200px;
    height: 200px;
    grid-area: 'foto1';
}
.container1 .cara{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container1 .cara span{
    width: 50px;
    height: 100%;
    transition: .5s;
}
.container1 .cara1 span{
    background: url(../assets/img/images.jpeg);
    transform-origin: top;
}
.container1:hover .cara1 span{
    transform: rotateX(90deg) translateY(-50%);
}
.container1 .cara2 span{
    background: url();
    transform-origin: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    transform: rotateX(90deg) translateY(50%);
}
.container1:hover .cara2 span{
    transform: rotateX(0deg) translateY(0);
}
.container1 .cara span:nth-child(1){
    background-position-x: 0px;
    transition-delay: 0s;
}
.container1 .cara span:nth-child(2){
    background-position-x: -50px;
    transition-delay: .1s;
}
.container1 .cara span:nth-child(3){
    background-position-x: -100px;
    transition-delay: .2s;
}
.container1 .cara span:nth-child(4){
    background-position-x: -150px;
    transition-delay: .3s;
}
