*{
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans';
}
@font-face {
    font-family: 'Inria Sans';
    src: url(../fuentes/Inria_Sans/InriaSans-Regular.ttf);
}

body{
    height: 100%;
    width: 100%;
    background-color: #52733B;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inria Sans';
    font-size: 25px;
    background-color: #52733B;
}
.img{
    padding: 1%
}
nav{
    width: 100%;
    background-color: #84A45A;
    height: 40px;
    font-family: 'Inria Sans';
    font-size: 18px;
}
li{
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    transition: 1s;
}
h1{
    display: flex;
    background-color: #52733B;
    align-items: center;
    justify-content: center;
    height: 150px;
}
a{
    font-family: 'Inria Sans';
    text-decoration: none;
    color: black;
}
ul{
    padding-top: 0.6%;
}
nav ul li:hover{
    transform: scale(1.3, 1.3);
    background-color: #4b733b;
}
footer{
    display: inline-block;
    height: 275px;
    width: 100%;
    color: white;
    background-color: #241d18;
}
footer a{
    color: white;
}
.logos{
    height: 90px;
    width: 800px;
}
.logos img{
    height: 80px;
    width: 80px;
    transition: .3s ;
}
footer div{
    width: 100%;
    height: 33%;
}
.linea1{
    display: flex;
    flex-direction: row;
}
.links{
    padding: 2%;
    font-size: 20px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.contactos p{
    padding-left: 1%;
}
.parte1{
    display: flex;
    flex-direction: row-reverse;
    background-color: #52733B;
    height: 500px;
    width: 100%;
    justify-content: center;
}

.parte1 h1{
    justify-content: center;
    margin-left: 45%;
}

.parte1 div img{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 10%;
}

.parte1 div p{
    margin-top: 10%;
    margin-left: 10%;
}

.imagenes{
    display: flex;
    justify-content: space-between;
    
    
}

.imagenes img{
    height: 75px;
    width: 75px;
}

.parte2{
    background-color: #715E4E;
    height: 3000px;
    width: 100%;

}

.parte2 div img{
    margin-left: 10px ;
    margin-right: 5px;
    height: 300px;
    width: 350px;
}

.parte2 div p{
    height: 100px;
    width: 30%;
}